/* .contactMe{
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
} */

.contactMe__container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #ddd */

}

.contactMe__container__title{
    width: 30%;
    font-size: 1.5em;
    font-weight: bold;
    /* margin-bottom: 20px;
    padding-left: 20px; */
    /* center  */

    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.contactMe__container__form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* type text */
.contactMe__container__form__input{
    width: 85%;
}
.contactMe__container__form__input :nth-child(1){
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
} 


/* media query phone */

@media screen and (max-width: 900px){
    .contactMe__container{
        flex-direction: column;


    }
    .contactMe__container__title{
        width: 100%;
        font-size: 1.2em;
        
        
        padding-left: 20px;
    }
    .contactMe__container__form{
        width: 100%;
        
        padding: 20px;
    }

}
